name: lintroller
arguments:
  ciOptions:
    skipDocker: true
    skipE2e: true
  description: Lintroller houses all of the custom linters that Outreach uses for Go projects.
  lintroller: platinum
  oss: true
  releaseOptions:
    force: true # ensure that binaries are generated
  reportingTeam: fnd-dt
  service: false
  vaultSecrets:
    - deploy/honeycomb_new/%(environment)s/honeycomb
    - deploy/launchdarkly/%(environment)s/launchdarkly
    - deploy/mint/%(environment)s/validation/mint-validator-payload
    - deploy/flagship-shared-secret/%(environment)s/authn-flagship-payload
modules:
  - name: github.com/getoutreach/stencil-base
    channel: rc
  - name: github.com/getoutreach/stencil-golang
    channel: rc
  - name: github.com/getoutreach/devbase
    channel: rc
  - name: github.com/getoutreach/stencil-outreach
    channel: rc
  - name: github.com/getoutreach/stencil-circleci
    channel: rc
  - name: github.com/getoutreach/stencil-actions
    channel: rc
  - name: github.com/getoutreach/stencil-discovery
    channel: rc
  - name: github.com/getoutreach/stencil-pipeline
    channel: rc
